#clock {
    positiion: relative;
    margin: 50px auto 0px auto;
    
}

#face {
    position: absolute;
}

#second {
    position: absolute;
}

#minute {
    position: absolute;
}

#hour {
    position: absolute;
}
